@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" alt="Head Shot" src="~/Images/HeadShot.jpg">
    </div>
    <div class="col-md-6 text-justify">
        <h3>Benjamin Arnold</h3>
        <p>Software Engineer</p>
        <p>
            <strong>I am a skilled craftsman</strong>, and I build clean and maintainable software.
            I take pride in my work because how I write my code matters.
            It matters to the developers that I work with today and to the developers that come after me.
            It matters to the user and the business. Clean code matters.
        </p>
        <p>
            <strong>I am a team player.</strong>
            Team players know how to disagree but commit to being held accountable for team decisions.
            They know how to give and receive feedback with finesse and an open mind.
            A team player asks, "How do I provide the greatest possible amount of value to the team?" then they follow through.
        </p>
        <p>
            <strong>I am a work in progress.</strong>
            The keyword here is work.
            It takes work to grow and the process isn't always comfortable.
            I lean into the discomfort.
            A better version of myself is formed through the striving.
            Every sword must be tempered in the fire.
            “You should never sacrifice what you could be for what you are.” – Jordan Peterson
        </p>
    </div>
</div>